*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* shared styles */

.font-open-sens {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2 {
    font-size: 47px;
    font-weight: 900;

}
.color-orange {
    color: #FF5722;
}
.btn{
    background-color:#FF5722 ;
    border: none;
    padding: 18px 34px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
header {
    background-color:#FFF8F3;
    background:url("../kl.jpg"),url("../lj.jpg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 49px;
}
nav {
    width: 78%;
    max-width: 1200px;
    /* border: 1px solid red; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    list-style: none;
    display: flex;
    gap: 42px;
    align-items: center;
    
}
nav.menu a{
    
    font-size: 20px;
    color: 474747;
    text-decoration: none;
    
    
}
#banner {
    /* border: 1px solid red; */
    margin:47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 499px;
}
#banner .banner-content h2{
    font-size: 44px;
    font-weight: 499px;
    color: #474747;
    margin-bottom: 4px;
}
#banner .banner-content h1{
    font-size: 84px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    margin: 20px ;
    
}
#banner .banner-content p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 30px;
    text-decoration-color: black;
}
#banner .banner image{
    max-width: 554px;
    vertical-align: middle;
}
